<p id="notice"><%= notice %></p>

<h1>Acquisition Sales</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Qty</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acquisition_products.each do |acquisition_product| %>
      <tr>
        <td><%= acquisition_product.product %></td>
        <td><%= acquisition_product.qty %></td>
        <td><%= acquisition_product.value %></td>
        <td><%= link_to 'Show', acquisition_product %></td>
        <td><%= link_to 'Edit', edit_acquisition_product_path(acquisition_product) %></td>
        <td><%= link_to 'Destroy', acquisition_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acquisition Sale', new_acquisition_product_path %>
