<p id="notice"><%= notice %></p>
<%= link_to 'Voltar', products_path,class: "btn btn-outline-success  mr-auto" %>


  <div class="form-group">
    <%= label_tag "Descrição" %>
    <%= text_field_tag nil, @product.description, { class: "form-control", disabled: "true"} %>
  </div>

  <div class="form-group">
    <%= label_tag "Valor de venda" %>
    <%= text_field_tag nil, @product.value, class: "form-control", disabled: "true" %>
  </div>

  <div class="form-group">
    <%= label_tag "Valor de custo" %>
    <%= text_field_tag nil, @product.cost_value, class: "form-control", disabled: "true" %>
  </div>

<%= link_to 'Editar', edit_product_path(@product),class: "btn btn-outline-success  mr-auto" %>

