<p id="notice"><%= notice %></p>

<h1>Vendas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Código</th>
      <th>Cliente</th>
      <th>Data</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.id %></td>
        <td><%= "#{sale.client.id} - #{sale.client.name}" %></td>
        <td><%= sale.date %></td>
        <td><%= sale.value %></td>
        <td><%= link_to 'Visualizar', sale,class: "btn btn-outline-info  ml-auto" %></td>
        <td><%= link_to 'Excluir', sale,class: "btn btn-outline-danger  ml-auto", method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova venda', new_sale_path,class: "btn btn-outline-success  ml-auto" %>
