<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @sale_product.product %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @sale_product.qty %>
</p>

<p>
  <strong>Value:</strong>
  <%= @sale_product.value %>
</p>

<%= link_to 'Edit', edit_sale_product_path(@sale_product) %> |
<%= link_to 'Back', sale_products_path %>
